* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: rgb(239, 244, 244);
}

/* blur only background */
.blur {
  filter: blur(5px);
  pointer-events: none;
}
